* {
  box-sizing: border-box;
}

header {
  border: 1px solid black;
  padding: 1rem;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav > div {
  display: flex;
  align-items: center; 
}

header nav div.menu {
  margin-left: 1rem;
  display: flex;
  gap: .25rem;
} 

header nav div.menu a { 
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: black;
  padding: .5rem;
  border-radius: 4px;
  transition: .3s;
}

header nav div.menu a:hover { 
  transform: translateY(-5px);
  background: #333333;
  box-shadow: 0px 4px 4px -3px rgb(3, 243, 231);
}
header nav div img.logo{
  width: 150px;

}

main {
  border: 1px solid black;
  min-height: 200px;
  /* barra de rolagem */
  /* overflow: auto; */
}

main section {
  background-color: rgb(88, 25, 172);
  margin: 10px;
}

main section div {
  background-color: lightseagreen;
  padding: 10px;
  min-height: 10px;
}

main section div div {
  background-color: rgb(202, 143, 54);
  border: 1px solid white;
  min-height: 10px;
}

main section.flex>div>div {
  width: 33.333%;
}

.gale-ft {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.gale-ft img{
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  transition: .3s;
}

.gale-ft:hover img:not(:hover) {
  transform: scale(.8);
}

.gale-ft > :nth-child(1){
  border: 7px solid rgb(3, 243, 231);

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 1;
  grid-row-end: 3;

  max-height: 400px;
}
.gale-ft > :nth-child(4){
  border: 7px solid rgb(3, 243, 231);

  grid-column-start: 5;
  grid-column-end: 7;
}

.gale-ft > :nth-child(10){
  border: 7px solid rgb(3, 243, 231);

  grid-column-start: 5;
  grid-column-end: 6;

  grid-row-start: 2;
  grid-row-end: 4;

  max-height: 700px;